<launch>
    <arg name="node_start_delay" default="4.0" />
    <arg name="bt_xml" default="all_modes.xml"/>
    <arg name="num_agents" default="2"/>

    <!-- Use sim time for simulator -->
    <param name="/use_sim_time" value="true"/>

    <!-- Launch Simulator -->
    <node name="cohan_sim" pkg="cohan_sim" type="simros_node" args="-g $(find cohan_tutorial)/maps/laas.yaml" output="screen"/>

    <!-- start map_server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find cohan_tutorial)/maps/laas.yaml"/>

    <!-- Localize the robot -->
    <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="true" output="screen">
        <param name="global_frame_id" value="map" />
    </node>

    <!-- Launch agents nodes-->
    <include file="$(find cohan_tutorial)/launch/agents.launch">
        <arg name="num_agents" value="$(arg num_agents)"/>
    </include>

    <!-- Launch move_base node with hateb -->
    <include file="$(find cohan_tutorial)/launch/move_base_cohan.launch">
        <arg name="bt_xml" value="$(arg bt_xml)"/>
        <arg name="node_start_delay" value="$(arg node_start_delay)"/>
    </include>

    <!-- Start RViZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cohan_tutorial)/rviz/cohan_tutorial.rviz" />
</launch>