<launch>
    <arg name="node_start_delay" default="4.0" />
    <arg name="bt_xml" default="all_modes.xml"/>


    <!-- move_base node with hateb -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="base_local_planner" value="hateb_local_planner/HATebLocalPlannerROS" />
        <param name="GlobalPlanner/allow_unknown" value="true" />
        <param name="bt_xml_path"  value="$(find hateb_local_planner)/behavior_trees/$(arg bt_xml)"/>
        <param name="use_simulated_fov" value="true" />

        <rosparam file="$(find cohan_tutorial)/config/move_base_params.yaml" command="load" />
        <rosparam file="$(find cohan_tutorial)/config/global_costmap_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find cohan_tutorial)/config/local_costmap_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find cohan_tutorial)/config/hateb_local_planner_params.yaml" command="load" ns="HATebLocalPlannerROS" />
    </node>
</launch>