<!-- Publish a predefined state of robot (from Stage) for RViZ -->
<launch>
  <param name="robot_description" command="cat $(find cohan_sim_navigation)/robots/pr2.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="sim_joints" pkg="cohan_sim_navigation" type="publish_joints.py"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">["/cohan_sim_joint_states"]</rosparam>
    <param name="rate" value="50"/>
  </node>

</launch>
