<launch>
  <arg name="fast_mode" default="false"/>
  <arg name="gui" default="false"/>
  <arg name="mode" default="" unless="$(arg fast_mode)"/>
  <arg name="mode" value="-f" if="$(arg fast_mode)"/>
  <arg name="graphics" default="-g" unless="$(arg gui)"/>
  <arg name="graphics" value="" if="$(arg gui)"/>
  <arg name="world_file" default="laas"/>

  <master auto="start"/>
  
  <node pkg="stage_ros" type="stageros" name="stageros" args="$arg -u $(arg graphics) $(arg mode) $(find stage_ros)/worlds/$(arg world_file).world" respawn="false">
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>

</launch>
