<launch>
  <arg name="gui" default="false"/>
  <arg name="node_start_delay" default="4.0"/>
  <arg name="num_agents" default="1"/>
  <arg name="map_name" default="laas"/>
  
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>

  <!-- Launch Simulator -->
  <node name="cohan_sim" pkg="cohan_sim" type="run_sim.py" args="--render --env $(arg map_name).yaml" output="screen" if="$(arg gui)"/>
  <node name="cohan_sim" pkg="cohan_sim" type="run_sim.py" args="--env $(arg map_name).yaml" output="screen" unless="$(arg gui)"/>


  <!-- start map_server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find cohan_sim_navigation)/maps/$(arg map_name).yaml"/>

  <include file="$(find cohan_sim_navigation)/launch/cohan_sim/include/robot_only.launch">
    <arg name="node_start_delay" value="$(arg node_start_delay)" />
    <arg name="num_agents" value="$(arg num_agents)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cohan_sim_navigation)/rviz/cohan_sim.rviz" />

</launch>
